.Menu {
  text-align: center;
  padding-top: 150px;
  color: white;

}

h3 {
  text-align: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  margin-left: 520px;
  grid-column-gap: 50px;
  grid-row-gap: 180px;
}

.grid-container img {
  width: 232px;
  height: 232px;
}

.grid-text {
  width: 232px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.Food {
  text-align: center;
  font-size: 25px;
  margin-top: 150px;
}
